body {
  height: 100vh;
  font-family: helvetica;
  font-size: 0.9em;
}

#blocpage {
  display: flex;
  height: 100%;
}

.discussions {
  width: 25%;
  border: 1px solid rgb(208, 208, 208);
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.tools {
  width: 100%;
  height: 10%;
  border: 1px solid rgb(208, 208, 208);
  border-right: none;
  border-bottom: none;
  border-left: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  /* border-radius: 30px; */
}
.ellipsis {
  border-radius: 20px;
}

.discuss {
  font-weight: bold;
  font-size: 1.6em;
  /* padding-left: 17%; */
}

.me {
  border-radius: 100%;
  /* float: left; */
  /* margin-top: 4%;
  margin-left: 3%; */
}

.searching {
  width: 100%;
  height: 7%;
}

.search {
  width: 93%;
  height: 65%;
  border-radius: 20px;
  background-color: rgba(111, 117, 122, 0.082);
  border-style: none;
  z-index: 1;
}

.lupa {
  display: inline-block;
  z-index: 2;
  position: absolute;
  padding-top: 0.4%;
  padding-left: 1%;
}

input {
  margin-left: 2%;
  padding-left: 5%;
  font-size: 1em;
  padding-left: 2%;
}

.conversations {
  height: 74%;
  width: 100%;
  background-color: red;
  overflow-y: scroll;
}

.firstconv {
  height: 10%;
  width: 100%;
  background-color: blue;
}

.firstpic {
  height: 100%;
  width: 22%;
  background-color: pink;
  text-align: center;
}

.firstpicture {
  border-radius: 100%;
  margin-top: 6%;
}

.chatbox {
  width: 50%;
  border: 1px solid rgb(208, 208, 208);
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.person {
  width: 100%;
  height: 10%;
  border: 1px solid rgb(208, 208, 208);
  border-right: none;
  border-left: none;
}

.picposition {
  margin-left: 2%;
  margin-top: 1.5%;
  padding-right: 1%;
  float: left;
}

.namestatus {
  font-weight: bold;
  margin-top: 3%;
  line-height: 0.6em;
}

.onlinestatus {
  color: gray;
  margin-top: -0.5%;
  font-size: 0.9em;
}

.chat {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

.gauche {
  width: 100%;
  height: 6%;
}

.droite {
  width: 100%;
  height: 6%;
  text-align: right;
}

.left {
  margin-left: 5%;
  border: 1px solid black;
  border-style: none;
  color: black;
  padding: 1.2%;
  display: inline-block;
  border-radius: 20px;
  background-color: #e4e6eb;
}

.left1 {
  margin-left: 5%;
  border: 1px solid black;
  border-style: none;
  color: black;
  padding: 1.2%;
  display: inline-block;
  border-radius: 20px 20px 20px 0px;
  background-color: #e4e6eb;
}

.left2 {
  margin-left: 5%;
  border: 1px solid black;
  border-style: none;
  color: black;
  padding: 1.2%;
  display: inline-block;
  border-radius: 0px 20px 20px 0px;
  background-color: #e4e6eb;
}

.left3 {
  margin-left: 5%;
  border: 1px solid black;
  border-style: none;
  color: black;
  padding: 1.2%;
  display: inline-block;
  border-radius: 0px 20px 20px 20px;
  background-color: #e4e6eb;
}

.right {
  margin-right: 3%;
  border: 1px solid black;
  border-style: none;
  color: white;
  padding: 1.2%;
  display: inline-block;
  border-radius: 20px;
  background-color: rgb(0, 153, 255);
}

.right3 {
  margin-right: 3%;
  border: 1px solid black;
  border-style: none;
  color: white;
  padding: 1.2%;
  display: inline-block;
  border-radius: 20px 20px 0px 20px;
  background-color: rgb(0, 153, 255);
}

.right4 {
  margin-right: 3%;
  border: 1px solid black;
  border-style: none;
  color: white;
  padding: 1.2%;
  display: inline-block;
  border-radius: 20px 0px 20px 20px;
  background-color: rgb(0, 153, 255);
}

.right5 {
  margin-right: 3%;
  border: 1px solid black;
  border-style: none;
  color: white;
  padding: 1.2%;
  display: inline-block;
  border-radius: 20px 20px 0px 20px;
  background-color: rgb(0, 153, 255);
}

.right6 {
  margin-right: 3%;
  border: 1px solid black;
  border-style: none;
  color: white;
  padding: 1.2%;
  display: inline-block;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(0, 153, 255);
}

.right7 {
  margin-right: 3%;
  border: 1px solid black;
  border-style: none;
  color: white;
  padding: 1.2%;
  display: inline-block;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(0, 153, 255);
}

.right8 {
  margin-right: 3%;
  border: 1px solid black;
  border-style: none;
  color: white;
  padding: 1.2%;
  display: inline-block;
  border-radius: 20px 0px 20px 20px;
  background-color: rgb(0, 153, 255);
}

.screen {
  margin-top: 3%;
  margin-right: 3%;
  text-align: right;
}

.messages {
  width: 100%;
  height: 6%;
  background-color: red;
}

.options {
  width: 25%;
  border: 1px solid rgb(208, 208, 208);
  border-bottom: none;
  border-right: none;
  border-left: none;
  overflow: scroll;
  overflow-x: hidden;
}

.user {
  width: 100%;
  height: 20%;
  text-align: center;
}

.profilpic {
  text-align: center;
  margin-top: 4%;
}

.name {
  margin-top: 1%;
  font-weight: bold;
}

.status {
  margin-top: -2%;
  color: gray;
  font-size: 0.9em;
}

.radius {
  border-radius: 100%;
}

.customization {
  width: 100%;
  height: 4%;
  font-weight: bold;
  margin: 4%;
}

.confidentiality {
  width: 100%;
  height: 4%;
  font-weight: bold;
  margin: 4%;
}

.files {
  width: 100%;
  height: 4%;
  font-weight: bold;
  margin: 4%;
}

.medias {
  width: 100%;
  height: 4%;
  font-weight: bold;
  margin: 4%;
}

.arrow {
  float: right;
  padding-right: 10%;
  margin-top: -8%;
}
